.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.letter{
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  font-weight: 600;
  font-family: 'Mitr', sans-serif;
  color: #FAFAFF;
  background-color: #662227;
  border-radius: 10%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 0.65em;
  line-height: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

.select{
  border-bottom: 0.90em solid #A63740;
  background-color: #191516;
}

.empty{
  background-color: transparent;
  border: 0.73em solid #A63740;
  border-radius: 10%;
  box-sizing: border-box;
}

.wrong {
  background-color: #191516;
  border: none;
  color: #5e5c5c;
  animation: 0.45s linear flip 0s forwards
}
