<p-toast position="top-center"></p-toast>
<p-dialog [breakpoints]="{'960px': '75vw'}" [style]="{width: '70%'}"
  [draggable]="false" [resizable]="false" contentStyleClass="customDialog"
  styleClass="customDialog" [(visible)]="dialogStart">
  <div class="container">
    <p>
      Descubra a palavra certa em 6 tentativas. Depois de cada tentativa, as peças mostram o quão
      perto você está da solução.
    </p>

    <div class="exempla">
      <span class="letter corret">e</span>
      <span class="letter">f</span>
      <span class="letter">i</span>
      <span class="letter">c</span>
      <span class="letter">a</span>
      <span class="letter">z</span>
    </div>

    <p>
      A letra
      <span class="letter corret">e</span>
      faz parte da palavra e está na posição correta.
    </p>

    <div class="exempla">
      <span class="letter">i</span>
      <span class="letter">s</span>
      <span class="letter">e</span>
      <span class="letter place">n</span>
      <span class="letter">t</span>
      <span class="letter">o</span>
    </div>

    <p>
      A letra
      <span class="letter place">n</span>
      faz parte da palavra mas em outra posição.
    </p>

    <div class="exempla">
      <span class="letter">c</span>
      <span class="letter">a</span>
      <span class="letter">s</span>
      <span class="letter">u</span>
      <span class="letter wrong">a</span>
      <span class="letter">l</span>
    </div>

    <p>
      A letra
      <span class="letter wrong">a</span>
      não faz parte da palavra.
    </p>
    <p>Não ha necessidade de colocar acentos.</p>
    <p>As palavras podem possuir letras repetidas.</p>
  </div>
</p-dialog>

<p-dialog [breakpoints]="{'960px': '75vw'}" [style]="{width: '70%'}"
  [draggable]="false" [resizable]="false" contentStyleClass="customDialog"
  styleClass="customDialog" [(visible)]="dialogFinish">
  <div class="container-f">
    <h1>{{messageCode.message}}</h1>
    <p *ngIf="messageCode.code != 0">
      Karen & Diackson
    </p>
  </div>
</p-dialog>

<div class="card">
  <div class="card-container justify-content-center">
    <div class="flex flex-row flex-wrap text-white">
      <div class="w-full">
        <header>
          <button pButton class="p-button-secondary" icon="pi pi-question" (click)="dialogStart = true"></button>
          <p class="title">
            <span>TERMO</span>
          </p>
        </header>

        <main class="content">
          <ng-container *ngFor="let word of words; index as indexLetter">
            <app-set-letters
              [currentWord]="indexSelect === indexLetter"
              [correctWord]="correctWord"
              [indexLineWordActual]="indexLetter"
              [indexLineWord]="indexSelect"
              [(newWord)]="newWord"
              (emitLetters)="addNewWord($event)"
              (emitMessage)="message($event)">
            </app-set-letters>
          </ng-container>
        </main>

        <footer>
          <app-keyboard [lineKeyboard]="lineKeyboard"></app-keyboard>
        </footer>
      </div>
    </div>
  </div>
</div>
