<div class="grid">
  <div class="col conten-button">
    <button pButton pRipple type="button" label="Q" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="W" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="E" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="R" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="T" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="Y" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="U" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="I" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="O" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="P" class="p-button-raised"></button>
  </div>
</div>

<div class="grid">
  <div class="col conten-button start">
    <button pButton pRipple type="button" label="A" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="S" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="D" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="F" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="G" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="H" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="J" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="K" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="L" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton type="button" icon="pi pi-backward"></button>
  </div>
</div>

<div class="grid">
  <div class="col conten-button">
    <button pButton pRipple type="button" label="Z" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="X" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="C" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="V" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="B" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="N" class="p-button-raised"></button>
  </div>
  <div class="col conten-button">
    <button pButton pRipple type="button" label="M" class="p-button-raised"></button>
  </div>
  <div class="col-3 conten-button">
    <button pButton pRipple type="button" label="ENTER" class="p-button-raised"></button>
  </div>
</div>
